@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

body {
  background: #0F0E17;
  color: #e9e9e9;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #9B87F5;
}

h3 {
  font-size: 18px;
}

@theme {
  --color-bg1: #0F0E17;
  --color-bg2: #18161D;
  --color-bg3: #322D48;
  --color-detail1: #9B87F5;
  --color-detail2: #8E7CE0;
  --color-detail3: #383159;
}